---
import HeroSection from "../components/HeroSection.astro";
import LandingHeader from "../components/LandingHeader.astro";
import ModelThree from "../components/ModelThree.astro";
import ModelY from "../components/ModelY.astro";

import Layout from "../layouts/Layout.astro";
---

<Layout title="Tesla landing">
  <LandingHeader />

  <main
    class="relative h-screen w-full snap-y snap-mandatory overflow-y-auto overflow-x-hidden scroll-smooth"
  >
    <div class="snap-center">
      <HeroSection />
    </div>
    <div class="snap-center">
      <ModelY />
    </div>
    <div class="snap-center">
      <ModelThree />
    </div>
  </main>
</Layout>
