---
import Section from "./Section.astro";
---

<Section
  title="Model 3"
  subtitle="Concertar una prueba de conducción"
  color="black"
  id="model-3"
>
  <div slot="footer" class="mx-auto flex gap-x-6">
    <a
      class="inline-block rounded border-[3px] border-gray-600 bg-gray-600 px-12 py-2 text-sm font-medium text-white transition-colors hover:border-gray-500 hover:bg-gray-500"
      href="#"
    >
      Explorar inventario</a
    >
    <a
      class="inline-flex items-center justify-center rounded bg-white px-12 py-2 text-sm font-medium text-black transition-colors hover:bg-black hover:text-white"
      href="#"
    >
      Pedido personalizado</a
    >
  </div>

  <img
    slot="background"
    alt="Model 3"
    class="h-full w-full object-cover object-center"
    src="model-3.avif"
    id="bg-image-model3"
  />
</Section>

<script>
  function isEdge() {
    if (
      navigator.userAgent.indexOf("Edge") > -1 ||
      navigator.userAgent.indexOf("Edg") > -1
    ) {
      return true;
    } else {
      return false;
    }
  }

  var imageElement = document.querySelector(
    "#bg-image-model3"
  ) as HTMLImageElement;

  if (isEdge()) {
    imageElement.src = "model-3.webp";
  } else {
    imageElement.src = "model-3.avif";
  }
</script>
